@page "/counter"
@inject DrDotnet.AppState AppState

<h1>Counter</h1>

    <textarea style="width:100%;" @bind="AllLogs" @bind:event="oninput" />

@code {

    private static string _allLogs;

    public string AllLogs
    {
        get
        {
            return _allLogs;
        }
        set
        {
            // nope
        }
    }

    public void OnLog(string message)
    {
        _allLogs += message;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Logger.MessageLogged += OnLog;
    }
}
