@page "/water"
@inject DrDotnet.AppState AppState
@inject IJSRuntime JSRuntime  
@inject NavigationManager NavigationManager

<h1>Dotnet Processes</h1>

<p>Here is the list of all dotnet processes currently running.</p>

@if (_processes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Start Time</th>
                <th>Main Module</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var process in _processes)
            {
                <tr>
                    <td>@process.ProcessName</td>
                    <td>@process.Id</td>
                    <td>@process.StartTime</td>
                    <td>@process.MainModule.ModuleName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<System.Diagnostics.Process> _processes;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _processes = await ProfilingUtils.GetDotnetProcessesAsync();
    }
} 