@using Microsoft.Extensions.Logging
@using DrDotnet.Utils
@inherits LayoutComponentBase

@inject ILogger _logger;

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <b style="flex-grow: 1;">Dr.Dotnet</b>
            <i>Version @VersionUtils.CurrentVersion</i>
            <MatButton OnClick="@OpenDialog" Icon="receipt" Style="">Logs</MatButton>
            <MatButton Link="https://github.com/ogxd/dr-dotnet" Icon="open_in_new" Style="">See on Github</MatButton>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>Logs</MatDialogTitle>
    <MatDialogContent>
        <textarea id="logs" style="height: 70vh; width: 85vw;" @bind="AllLogs" @bind:event="oninput" />
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { dialogIsOpen = false; })">Close</MatButton>
    </MatDialogActions>
</MatDialog>
 
@code
{
    bool dialogIsOpen = false;
    string name = null;

    void OpenDialog()
    {
        dialogIsOpen = true;
    }

    void OkClick()
    {
        dialogIsOpen = false;
    }

    public string AllLogs
    {
        get
        {
            return (_logger as Logger)?.GetAllLogs();
        }
        set { /* readonly */ }
    }

    private void OnMessageLogged(string message)
    {
        if (dialogIsOpen)
        {
            InvokeAsync(StateHasChanged);
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // This is dogshit but I'll adress that later
        Logger logger = _logger as Logger;
        if (logger != null)
        {
            logger.MessageLogged += OnMessageLogged;
        }
    }
}